.popup-overlay{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;       
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.popup-content{
    max-width: none;
    width: 95vw;
    max-height: 95vh;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
}

.popup-close-button{
    position: sticky;
    top: 0;
    float: right;       
    margin-left: auto;
    padding: 0.5rem 1rem;
    z-index: 1;
}

/* Make scrollbar less intrusive */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #80808080;
}